{
  "name": "@smbcloud/${node_pkg}",
  "version": "${node_version}",
  "description": "Platform binary for siGit Code.",
  "license": "Apache-2.0",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/getsigit/sigit.git"
  },
  "keywords": ["${node_pkg}","cli","binary","sigit","ai","coding-agent"],
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "files": ["bin"]
}
