<h1 align="center">siGit Code</h1>

## `${node_pkg}`

This is a platform-specific binary for [`@smbcloud/sigit`](https://www.npmjs.com/package/@smbcloud/sigit). You don't need to install it directly.

Install the main package instead:

```sh
npm install -g @smbcloud/sigit
```

npm pulls in the right binary for your OS and architecture.

## Links

- [Source code](https://github.com/getsigit/sigit)
- [Issues](https://github.com/getsigit/sigit/issues)

## License

[Apache-2.0](https://github.com/getsigit/sigit/blob/main/LICENSE)
